[project]
name = "async-api-fetcher"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "aiohttp>=3.13.2",
    "rich>=14.2.0",
    "tenacity>=9.1.2",
]
